@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,600&family=Roboto+Mono:wght@200;500&display=swap');
:root{
    --background:#0B0314;
    --primary:#0B3954;
    --secundary:#BFD7EA;
    --bg-rojo:#FF4544;
    --bg-amarillo:#FFBE3F;
    --bg-azul:#0A2B57;

    --text-gris:#DCDCDC;
    --text-blanco: #FFFAF0;

    --minion-dec: #F4E158;
    --rich-black: #11191B;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins"; 
  
}

header {
    
   justify-content: space-between;
     width: 100%;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px ;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 1;
    background: var(--background) 
    

}
.logo {
    height:100%;

}

.navbar,
.navbar-list{
   display: flex;
   align-items: center;  
   justify-content: center;

}
.navbar{
    gap: 150px;
}
.navbar-list{
    gap: 30px;
}
.navbar-list a {
    color: var(--text-blanco);
    font-size: 14px;
}
.navbar-list li:first-child > a {
    color: var(--text-blanco);
    font-weight: 600;  
}
.cart-icon {
    border: 1px solid var(--primary);
    padding: 2px 8px;
    margin-top: 5px;
    border-radius: 12px;
    height: 36px;
    font-weight: 600;
    cursor: pointer;

}
.navbar {
    display: flex;
}
.navbar i {
    font-size: 36px;
    display: none;
}
#toggle-menu {
    display: none;
}

main{
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: aliceblue;
}
#hero {

    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.hero-info h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    background: linear-gradient(to bottom, #FFBE3F, #fb3fda );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    }
.hero-info p {
    font-size: 14px;
    width: 70%;
    color: var(--text-blanco);

}
.hero-info p > span{
    font-weight: 800;
}
.hero-info a {
    color: var(--bg-azul);
    background-color: var(--text-blanco);
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;

}
.hero-card {
    width: 300px;
    background: var(--primary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}
.hero-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-card-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.hero-card-top h3 {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hero-card-top span {
    background-color: var(--bg-amarillo);
    text-align: center;
    width: 50px;
    padding: 3px 0px;
    font-size: 14px;
    border-radius: 10px;
}
.hero-card-bottom {
    display: flex;
    justify-content: space-between;
}
.hero-card-creator {
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero-card-creator img {
     height: 40px;
    width: 40px;
} 
@media(max-width:992px) {
    .hero-presentation {
        text-align: center;
        width: 90%;
        align-items: center;  
    }
    .hero-presentation h1 {
        display: block;
        width: 100%;
    }
    .hero-presentation p {
        max-width: 80%;
        font-size: 16px;
    }
    .button-container {
        justify-content: center;
    }
    .hero-img {
        display: none;
    }
    #about {
        font-size: 15px;
    }
}
@media ( max-width:576px) {
    .navbar ul {
        background-color: #DCDCDC;
        width: 100%;
        height: calc(100vh - 80px) ;
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
    }
    .navbar i{
        display:block ;
    }
    #toggle-menu:checked ~ .navbar-list{
        transform: translateX(0%);
        transition: all 0.4s ease-in;
    }
    .hero-presentation p {
        max-width: 100%;
    }
}
#Info {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
#info h2 {
    font-size: 32px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card {
    width: 300px;
    text-align: center;
    align-items: center;
    height: 290px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    background: var(--rich-black);
    border-radius: 10px; 
    gap: 20px;
}
.info-card img {
    width: 35px;
}
.info-card h3 {
    font-weight: 600;
    font-size: 18px;
}
.info-card p {
    font-size: 14px;
    font-weight: 300;
    color: var(--text-gris);
}
#dicover {
    padding: 70px 0;
    max-width: 1200px;
}
.discover-info {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    justify-content: center;  
}
#discover h2 {
    justify-content: center;
    font-size: 30px;
    width: 45%;
    font-weight: 800;
}
.discovr-text {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
}
.discover-text p {
    font-size: 16px;
    font-weight: 300;
    color: var(--text-gris);
}
.discover-text a {
    color: var(--text-blanco);
    font-weight: 600;
    text-decoration: underline;
}
.discover-cards {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.discover-cards img {
    width: 20%;
}